<div class="row">
    <div class="col-xs-6 col-sm-5">
        <button class="btn btn--primary" type="button" ng-click="vm.restart()">
            Restart
        </button>
    </div>
    <div class="col-xs-6 col-sm-5 pull-right">
        <button class="btn btn--primary" type="button" ng-click="vm.cheat()" ng-hide="vm.result">
            Cheat
        </button>
    </div>
</div>