<game-title title="Ship Challenge"></game-title>
<div class="game">
    <div class="grid-container col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="grid">
            <counter class="counter {{vm.result ? 'end' : ''}} {{vm.result}}" attempts="{{vm.attempts}}"
                     rest-attempts="{{vm.max_attempts-vm.attempts}}" result="{{vm.result}}"></counter>
            <div class="tile-row  {{vm.result ? 'end' : ''}} animation" ng-repeat="tiles in vm.grid">
                <tile ng-repeat="tile in tiles"
                      class="tile-container {{tile.status}} {{tile.boat}}"
                      key="tile.key"
                      attempts="vm.attempts"></tile>
            </div>
            <controls class="controls" result="{{vm.result}}"></controls>
        </div>
    </div>
</div>
