* {
    @include box-sizing(border-box);
}
*:before,
*:after {
    @include box-sizing(border-box);
}

body {
    font-family: $font_default;
}

.content {
    padding: 20px 0;
}

@media(min-width: 480px) {
    .content {
        padding: 40px 0;
    }
}