.btn {
    border: 1px solid;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
    @include animation(background-color ease-in .2s);

    &.btn--primary {
        border-color: $color_teal;
        background-color: $color_white;
        color: $color_dark_grey;

        &:hover {
            background-color: $color_teal;
        }
    }
}

@media(min-width: 480px) {
    .btn {
        font-size: 1em;
        padding: 10px 20px;
    }
}
