.controls {
    display: block;
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 2px 0.5% 8px;
    padding: 10px 15px;
    text-align: center;
    background-color: $color_dark_grey;
}