.counter {
    position: relative;
    display: block;
    margin: 2px 0.5% 8px;
    padding: 5px 15px;
    background-color: $color_teal;
    color: $color_dark_grey;
    @include animation('ease-in 0.5s');

    .attempts {
        width: 100%;
        min-height: 22px;
        text-align: left;
    }

    .message {
        position: absolute;
        float: right;
        width: 100%;
        opacity: 0;
        right: 0;
        top: 5px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    &.end {
        .message {
            display: block;
            opacity: 1;
        }
    }

    &.win {
        background-color: $color_teal;
    }

    &.lose {
        background-color: $color_red;
        color: $color_white;
    }

    &.win, &lose {
        .attempt-point {
            opacity: 0.3;
        }
    }
}

.attempt-point {
    display: inline-block;
    margin-right: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $color_red;
}

@media(min-width: 480px) {
    .attempt-point {
        margin-right: 3px;
        width: 8px;
        height: 8px;
    }
}