.title {
    text-align: center;
    font-family: $font_title;
    font-size: 2.5em;
    color: $color_dark_grey;

    @include animation(color-animation .2s);
}

@media(min-width: 480px) {
    .title {
        font-size: 4em;
    }
}

@include keyframes(color-animation) {
    0% {
        color: $color_dark_grey;
    }

    30% {
        @include color('lighten', 'background-color', $color_dark_grey, 30);
    }

    50% {
        color: $color_dark_grey;
    }
}