.grid-container {
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
}

.grid {
    @include color('darken', 'background-color', $color_white, 15);
    border-radius: 2px;
    padding: 10px;
    overflow: hidden;
}

