@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($args) {
    -webkit-transition: #{$args};
    -moz-transition: #{$args};
    -o-transition: #{$args};
    transition: #{$args};
}

@mixin color($type, $property, $color, $value) {
    #{$property}: getColor($type, $color, $value);
}

@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

@mixin boat($name, $number) {
    .#{$name}-#{$number} .tile {
        @include color('darken', 'background-color', $color_white, 20*$number);
    }
}