.animation.ng-enter,
.animation.ng-leave {
    @include animation('300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all');
    position: relative;
    display: block;
}

.animation.ng-enter.animation.ng-enter-active,
.animation.ng-leave {
    opacity: 1;
    top: 0;
    height: 20px;
}

.animation.ng-leave.animation.ng-leave-active,
.animation.ng-enter {
    opacity: 0;
    top: -10px;
    height: 0;
}

.point-animation.ng-enter,
.point-animation.ng-leave {
    @include animation('300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all');
}

.point-animation.ng-enter.point-animation.ng-enter-active,
.point-animation.ng-leave {
    opacity: 1;
    width: 15px;
    height: 15px;
}

.point-animation.ng-leave.point-animation.ng-leave-active,
.point-animation.ng-enter {
    opacity: 0;
    width: 0;
    height: 0;
}