@include boat('boat', 3);
@include boat('boat', 4);
@include boat('boat', 5);

.tile-row {
    opacity: 1;
    overflow: hidden;
    position: relative;
    min-height: 10px;
    @include animation(opacity ease-in 0.5s);

    &.end {
        opacity: 0.5;
    }
}

.tile-container {
    position: relative;
    float: left;
    overflow: hidden;
    width: 12.5%;
    height: 30px;
    padding: 0.5%;
    cursor: pointer;

    .tile {
        height: 50px;
        color: $color_white;
        @include animation(preserve-3d 0.2s);
    }

    &.boat {
        .tile {
            transform: rotateY(180deg);
        }
    }

    &.water {
        .tile {
            background-color: $color_blue;
            transform: rotateY(180deg);
        }
    }

    &.back {
        .tile {
            @include color('darken', 'background-color', $color_white, 30);

            &:hover {
                @include color('darken', 'background-color', $color_white, 40);
            }
        }
    }
}

@media(min-width: 480px) {
    .tile-container {
        height: 50px;
    }
}
